body {
  font-family: proxima-nova, "Microsoft YaHei", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
}
#navbar-wrapper {
  border-radius: 0px;
}
#navbar-wrapper > .container {
  position: relative;
}
#navbar-wrapper #navbar-logo {
  height: 32px;
}
#navbar-wrapper .navbar-brand {
  padding: 8px;
}
#navbar-wrapper .search-bar {
  position: absolute;
  float: right;
  right: 40px;
  top: 0px;
  padding-top: 14px;
  padding-bottom: 16px;
  width: 152px;
}
#navbar-wrapper .search-bar > input {
  height: 24px;
  background: transparent;
  border-color: transparent;
}
#navbar-wrapper .search-bar > input:focus {
  background: #fff;
  border-color: #fff;
}
#navbar-wrapper .search-bar > .fa-search {
  position: absolute;
  right: 6px;
  top: 17px;
  float: right;
  color: #fff;
  font-size: 16px;
  font-weight: 100;
}
#navbar-wrapper .search-bar > .fa-search:hover {
    opacity: 0.8;
}
#navbar-wrapper .navbar-right {
  position: absolute;
  right: 0px;
  top: 0px;
}
#navbar-wrapper .navbar-nav .dropdown .dropdown-toggle {
    color: #fff;
}
#navbar-wrapper .navbar-nav .dropdown .dropdown-toggle:hover {
    opacity: 0.8;
}

#navbar-wrapper .navbar-collapse .navbar-nav > li > a {
    color: #fff;
}
#navbar-wrapper .navbar-collapse .navbar-nav > li > a:hover {
    opacity: 0.8;
}

@media (max-width: 767px) {
  #navbar-wrapper .search-bar {
    right: 116px;
  }
  #navbar-wrapper .navbar-right {
    right: 70px;
    width: 65px;
  }
  #navbar-wrapper .navbar-right .dropdown-menu {
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    border: 1px solid rgba(0, 0, 0, 0.15);
  }
  #navbar-wrapper .navbar-right .dropdown .dropdown-toggle {
    padding-top: 8px;
  }
}

@media (min-width: 768px) {
    #navbar-wrapper .navbar-collapse .navbar-nav {
        float:none;
        text-align: center;
        padding-right: 100px;
    }
    #navbar-wrapper .navbar-collapse .navbar-nav > li {
        float: none;
        display: inline-block;
        width: 15%;
    }
    #navbar-wrapper .search-bar {
        /* width: 130px; */
    }
}
@media(max-width: 991px) {
    #navbar-wrapper .navbar-collapse .navbar-nav {
        padding-right: 100px;
    }
    #navbar-wrapper .search-bar {
        width: 130px;
    }
    #navbar-wrapper .navbar-collapse .navbar-nav > li {
        width: initial;
    }
}